<h1>Tablero de parchis</h1>

<div>
  <h1>{{ title }}</h1>
  <p>Es el turno del jugador: {{ jugadores[jugadorActual].color }}</p>
  <app-dice (diceRolled)="lanzarDados($event[0], $event[1])"></app-dice> <!-- Escuchar el evento de los dados -->
  <p>Fichas en casilla grande: {{ jugadores[jugadorActual].fichasEnCasillaGrande }}</p>
  <p>Oportunidades restantes: {{ jugadores[jugadorActual].oportunidades }}</p>
  
  <button (click)="pasarTurno()">Pasar turno</button>
</div>


<table border="1px">
  <!-- 1 -->
  <tr>
    <td class="amarillo" colspan="7" rowspan="7">
      <div class="fichas">
        <div class="ficha ficha-amarilla"></div>
        <div class="ficha ficha-amarilla"></div>
        <div class="ficha ficha-amarilla"></div>
        <div class="ficha ficha-amarilla"></div>
      </div>
    </td>
    <td colspan="2"></td>
    <td class="amarillo" colspan="2">-</td>
    <td colspan="2"></td>
    <td class="verde" colspan="7" rowspan="7">
      <div class="fichas">
        <div class="ficha ficha-verde"></div>
        <div class="ficha ficha-verde"></div>
        <div class="ficha ficha-verde"></div>
        <div class="ficha ficha-verde"></div>
      </div>
    </td>
  </tr>

  <!-- 2 -->
  <tr>
    <td colspan="2"></td>
    <td class="amarillo" colspan="2">-</td>
    <td colspan="2"><div class="circulo">5</div></td>
  </tr>
  <!-- 3 -->
  <tr>
    <td colspan="2"><div class="circulo">?</div></td>
    <td class="amarillo" colspan="2">-</td>
    <td colspan="2"></td>
  </tr>
  <!-- 4 -->
  <tr>
    <td colspan="2"></td>
    <td class="amarillo" colspan="2">-</td>
    <td colspan="2"><div class="circulo">4</div></td>
  </tr>
  <!-- 5 -->
  <tr>
    <td class="amarillo" colspan="2">Salida</td>
    <td class="amarillo" colspan="2">-</td>
    <td colspan="2"></td>
  </tr>
  <!-- 6 -->
  <tr>
    <td colspan="2"></td>
    <td class="amarillo" colspan="2">-</td>
    <td colspan="2"><div class="circulo">3</div></td>
  </tr>
  <!-- 7 -->
  <tr>
    <td colspan="2"><div class="circulo">1</div></td>
    <td class="amarillo" colspan="2">-</td>
    <td colspan="2"></td>
  </tr>
  <!-- 8 -->
  <!-- Primera línea justo debajo de los grandes -->
  <tr>
    <td rowspan="2"></td>
    <td rowspan="2"><div class="circulo2">5</div></td>
    <td rowspan="2"></td>
    <td rowspan="2"><div class="circulo2">4</div></td>
    <td rowspan="2"></td>
    <td rowspan="2"><div class="circulo2">3</div></td>
    <td rowspan="2"></td>
    <td id="vacio"></td>
    <td></td>
    <td>-</td>
    <td>-</td>
    <td><div class="circulo">2</div></td>
    <td id="vacio"></td>
    <td rowspan="2"><div class="circulo2">1</div></td>
    <td rowspan="2"></td>
    <td class="verde" rowspan="2"><div class="vertical">Salida</div></td>
    <td rowspan="2"></td>
    <td rowspan="2"><div class="circulo2">?</div></td>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
  </tr>
  <!-- 9 -->
  <tr>
    <td><div class="circulo2">2</div></td>
    <td colspan="4" rowspan="4">
      <img
        src="http://ilusionesopticas.org.es/wp-content/uploads/2015/10/movimiento-de-centro-hacia-afuera-400x400.jpg"
      />
    </td>
    <td></td>
  </tr>
  <!-- 10 -->
  <tr>
    <td class="azul" rowspan="2">|</td>
    <td class="azul" rowspan="2">|</td>
    <td class="azul" rowspan="2">|</td>
    <td class="azul" rowspan="2">|</td>
    <td class="azul" rowspan="2">|</td>
    <td class="azul" rowspan="2">|</td>
    <td class="azul" rowspan="2">|</td>
    <td>|</td>
    <td>|</td>
    <td class="verde" rowspan="2">|</td>
    <td class="verde" rowspan="2">|</td>
    <td class="verde" rowspan="2">|</td>
    <td class="verde" rowspan="2">|</td>
    <td class="verde" rowspan="2">|</td>
    <td class="verde" rowspan="2">|</td>
    <td class="verde" rowspan="2">|</td>
  </tr>
  <!-- 11 -->
  <tr>
    <td>|</td>
    <td>|</td>
  </tr>
  <!-- 12 -->
  <tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <td rowspan="2"><div class="circulo2">?</div></td>
    <td rowspan="2"></td>
    <td class="azul" rowspan="2"><div class="vertical">Salida</div></td>
    <td rowspan="2"></td>
    <td rowspan="2"><div class="circulo2">1</div></td>
    <td></td>
    <td><div class="circulo2">2</div></td>
    <td rowspan="2"></td>
    <td rowspan="2"><div class="circulo2">3</div></td>
    <td rowspan="2"></td>
    <td rowspan="2"><div class="circulo2">4</div></td>
    <td rowspan="2"></td>
    <td rowspan="2"><div class="circulo2">5</div></td>
    <td rowspan="2"></td>
  </tr>
  <!-- 13 -->
  <tr>
    <td id="vacio"></td>
    <td><div class="circulo">2</div></td>
    <td>-</td>
    <td>-</td>
    <td></td>
    <td id="vacio"></td>
  </tr>
  <!-- 14 -->
  <tr>
    <td class="azul" colspan="7" rowspan="7">
      <div class="fichas">
        <div class="ficha ficha-azul"></div>
        <div class="ficha ficha-azul"></div>
        <div class="ficha ficha-azul"></div>
        <div class="ficha ficha-azul"></div>
      </div>
    </td>
    <td colspan="2"></td>
    <td class="rojo" colspan="2">-</td>
    <td colspan="2"><div class="circulo">1</div></td>
    <td class="rojo" colspan="7" rowspan="7">
      <div class="fichas">
        <div class="ficha ficha-rojo"></div>
        <div class="ficha ficha-rojo"></div>
        <div class="ficha ficha-rojo"></div>
        <div class="ficha ficha-rojo"></div>
      </div>
    </td>
  </tr>
  <!-- 15 -->
  <tr>
    <td colspan="2"><div class="circulo">3</div></td>
    <td class="rojo" colspan="2">-</td>
    <td colspan="2"></td>
  </tr>
  <!-- 16 -->
  <tr>
    <td colspan="2"></td>
    <td class="rojo" colspan="2">-</td>
    <td class="rojo" colspan="2">Salida</td>
  </tr>
  <!-- 17 -->
  <tr>
    <td colspan="2"><div class="circulo">4</div></td>
    <td class="rojo" colspan="2">-</td>
    <td colspan="2"></td>
  </tr>
  <!-- 18 -->
  <tr>
    <td colspan="2"></td>
    <td class="rojo" colspan="2">-</td>
    <td colspan="2"><div class="circulo">?</div></td>
  </tr>
  <!-- 19 -->
  <tr>
    <td colspan="2"><div class="circulo">5</div></td>
    <td class="rojo" colspan="2">-</td>
    <td colspan="2"></td>
  </tr>
  <!-- 20 -->
  <tr>
    <td colspan="2"></td>
    <td class="rojo" colspan="2">-</td>
    <td colspan="2"></td>
  </tr>
</table>
